DATABASE_NAME=example_dbnama
DATABASE_USER=example_username
DATABASE_PASSWORD=example_password

POSTGRES_PORT="_?:_?"

PG_ADMIN_EMAIL="example@gmail.com"
PG_ADMIN_PASSWORD=example*password

PGADMIN_PORT="_?:_?"

REDIS_PORT="_?:_?"